{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>Coffee Break a Blog Category Flat Bootstarp responsive Website Template | Home :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Coffee Break Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="{% static 'blog/temp1/css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
<link href="{% static 'blog/temp1/css/style.css' %}" rel='stylesheet' type='text/css' />
<script src="{% static 'blog/temp1/js/jquery.min.js' %}"></script>
<!---- start-smoth-scrolling---->
<script type="text/javascript" src="{% static 'blog/temp1/js/move-top.js' %}"></script>
<script type="text/javascript" src="{% static 'blog/temp/js/easing.js' %}"></script>
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
<!--start-smoth-scrolling-->
</head>
<body>
	<!--header-top-starts-->
	<div class="header-top">
		<div class="container">
			<div class="head-main">
				<a href="index.html"><h1>Dil-ki-Awaaz</h1></a>
				
			</div>
		</div>
	</div>
	<!--header-top-end-->
	<!--start-header-->
	<div class="header">
		<div class="container">
			<div class="head">
			<div class="navigation">
				 <span class="menu"></span>
					<ul class="navig">
						<li><a href="index.html"  class="active">Home</a></li>
						<li><a href="{% url 'register' %}">Register</a></li>
						<li><a href="{% url 'login' %}">Login</a></li>
						<li><a href="typo.html">Typo</a></li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
			</div>
			<div class="header-right">
				<div class="search-bar">
					<input type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
					<input type="submit" value="">
				</div>
				<ul>
					<li><a href="#"><span class="fb"> </span></a></li>
					<li><a href="#"><span class="twit"> </span></a></li>
					<li><a href="#"><span class="pin"> </span></a></li>
					<li><a href="#"><span class="rss"> </span></a></li>
					<li><a href="#"><span class="drbl"> </span></a></li>
				</ul>
			</div>
				<div class="clearfix"></div>
			</div>
			</div>
		</div>
	<!-- script-for-menu -->
	<!-- script-for-menu -->
		<script>
			$("span.menu").click(function(){
				$(" ul.navig").slideToggle("slow" , function(){
				});
			});
		</script>
	<!-- script-for-menu -->
	<!--banner-starts-->

	<!--banner-end-->
	<!--about-starts-->
	<div class="about">
		<div class="container">
			<div class="about-main">
				<div class="col-md-8 about-left">
					<div class="about-one">
						<h3>Find The Best Blogs</h3>
					</div>
					<div class="messages">
					{% if messages %}
					{% for message in messages %}
					<p class="alert alert-{{ message.tags }}">
						{{ message }}
					</p>
					{% endfor %}
					{% endif %}

					</div>	


					<div class="container-fluid">
					<div class="row">

					{% for p in posts %}	
					<div class="col-md-6">
					<div class="img-thumbnail">
					<a href="{{ p.get_absolute_url }}">{{ p.title }}</a><small style="float:right">{{ p.created }}</small>

					Author :{{ p.author }}<br>	
					{{ p.body }}


					</div>
					<br>
					</div>
					{% empty %}
					<div class="container-fluid">
					<h3>NO Post Found having search "{{ request.GET.q }}"</h3>
					</div>
					{% endfor %}
					</div>

					</div>


	

					
				</div>


			</div>
		</div>
	</div>
	<!--about-end-->

	<!--slide-end-->
	<!--footer-starts-->
	<div class="footer">
		<div class="container">
			<div class="footer-text">

				<p>© 2015 Coffee Break. All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
			</div>
		</div>
	</div>
	<!--footer-end-->
</body>
</html>
