{% extends 'travel/base.html' %}
{% load staticfiles %}
{% block content %}

<!-- Slider -->
<section class="slider">
	<div class="callbacks_container">
		<ul class="rslides" id="slider">
			
			<li>

				<div class="w3layouts-banner-top">
					<div class="banner-dott">
					<div class="container">
						<div class="slider-info">
								<h3>The best view comes after</h3>
								<h4>The hardest climb</h4>
								<div class="w3ls-button">
									<a href="#" data-toggle="modal" data-target="#myMod">About Our Travelite Tours</a>
								</div>
								<div class="bannergrids">
									<div class="col-md-4">
										<div class="grid1">
											<i class="fa fa-car" aria-hidden="true"></i>
											<!--<a href="#" data-toggle="modal" data-target="#myModal">Read More <span class="fa fa-long-arrow-right"></span></a>-->
											<a href="# " data-toggle="modal" data-target="#myModal"><p>Read more</p></a>
											<!--<p>lorem ipsum dolor sit amet consectetur adipiscing</p>-->
										</div>
									</div>
									<div class="col-md-4">
										<div class="grid1">
											<i class="fa fa-train" aria-hidden="true"></i>
											<!--<a href="#" data-toggle="modal" data-target="#myModal">Read More <span class="fa fa-long-arrow-right"></span></a>-->
											<a href="# " data-toggle="modal" data-target="#myModal"><p>Read more</p></a>
											<!--<p>lorem ipsum dolor sit amet consectetur adipiscing</p>-->
										</div>
									</div>
									<div class="col-md-4">
										<div class="grid1">
											<i class="fa fa-bus" aria-hidden="true"></i>
											<!--<a href="#" data-toggle="modal" data-target="#myModal">Read More <span class="fa fa-long-arrow-right"></span></a>-->
											<a href="# " data-toggle="modal" data-target="#myModal"><p>Read more</p></a>
											<!--<p>lorem ipsum dolor sit amet consectetur adipiscing</p>-->
										</div>
									</div>
									<div class="clearfix"></div>
								</div>
						</div>
					</div>
					</div>
				</div>
			</li>
			<li>
				<div class="w3layouts-banner-top w3layouts-banner-top3">
					<div class="banner-dott">
					<div class="container">
						<div class="slider-info">
								<h3>Travel tends to magnify</h3>
								<h4>Human emotions</h4>
								<div class="w3ls-button">
									<a href="#" data-toggle="modal" data-target="#myMod">About Our Road Travel</a>
								</div>
								<div class="bannergrids">
									<div class="col-md-4">
										<div class="grid1">
											<i class="fa fa-car" aria-hidden="true"></i>
											<!--<a href="#" data-toggle="modal" data-target="#myModal">Read More <span class="fa fa-long-arrow-right"></span></a>-->
											<a href="# " data-toggle="modal" data-target="#myModal"><p>Read more</p></a>
											<!--<p>lorem ipsum dolor sit amet consectetur adipiscing</p>-->
										</div>
									</div>
									<div class="col-md-4">
										<div class="grid1">
											<i class="fa fa-train" aria-hidden="true"></i>
											<!--<a href="#" data-toggle="modal" data-target="#myModal">Read More <span class="fa fa-long-arrow-right"></span></a>-->
											<a href="# " data-toggle="modal" data-target="#myModal"><p>Read more</p></a>
											<!--<p>lorem ipsum dolor sit amet consectetur adipiscing</p>-->
										</div>
									</div>
									<div class="col-md-4">
										<div class="grid1">
											<i class="fa fa-bus" aria-hidden="true"></i>
											<!--<a href="#" data-toggle="modal" data-target="#myModal">Read More <span class="fa fa-long-arrow-right"></span></a>-->
											<a href="# " data-toggle="modal" data-target="#myModal"><p>Read more</p></a>
											<!--<p>lorem ipsum dolor sit amet consectetur adipiscing</p>-->
										</div>
									</div>
									<div class="clearfix"></div>
								</div>
						</div>
					</div>
					</div>
				</div>
			</li>
			<li>
				<div class="w3layouts-banner-top w3layouts-banner-top2">
					<div class="banner-dott">
					<div class="container">
						<div class="slider-info">
								<h3>Travel brings power & love</h3>
								<h4>Back to your life</h4>
								<div class="w3ls-button">
									<a href="#" data-toggle="modal" data-target="#myMod">About Our Road Travel</a>
								</div>
								<div class="bannergrids">
									<div class="col-md-4">
										<div class="grid1">
											<i class="fa fa-car" aria-hidden="true"></i>
											<!--<a href="#" data-toggle="modal" data-target="#myMod">Read More <span class="fa fa-long-arrow-right"></span></a>-->
											<a href="# " data-toggle="modal" data-target="#myModal"><p>Read more</p></a>
											<!--<p>lorem ipsum dolor sit amet consectetur adipiscing</p>-->
										</div>
									</div>
									<div class="col-md-4">
										<div class="grid1">
											<i class="fa fa-train" aria-hidden="true"></i>
											<!--<a href="#" data-toggle="modal" data-target="#myModal">Read More <span class="fa fa-long-arrow-right"></span></a>-->
											<a href="# " data-toggle="modal" data-target="#myModal"><p>Read more</p></a>
											<!--<p>lorem ipsum dolor sit amet consectetur adipiscing</p>-->
										</div>
									</div>
									<div class="col-md-4">
										<div class="grid1">
											<i class="fa fa-bus" aria-hidden="true"></i>
											<!--<a href="#" data-toggle="modal" data-target="#myModal">Read More <span class="fa fa-long-arrow-right"></span></a>-->
											<a href="# " data-toggle="modal" data-target="#myModal"><p>Read more</p></a>
											<!--<p>lorem ipsum dolor sit amet consectetur adipiscing</p>-->
										</div>
									</div>
									<div class="clearfix"></div>
								</div>
						</div>
					</div>
					</div>
				</div>
			</li>
			
			<li>
				<div class="w3layouts-banner-top w3layouts-banner-top4">
					<div class="banner-dott">
					<div class="container">
						<div class="slider-info">
								<h3>Don't call it a dream</h3>
								<h4>Call it a plan</h4>
								<div class="w3ls-button">
									<a href="#" data-toggle="modal" data-target="#myMod">About Our Road Travel</a>
								</div>
								<div class="bannergrids">
									<div class="col-md-4">
										<div class="grid1">
											<i class="fa fa-car" aria-hidden="true"></i>
											<!--<a href="#" data-toggle="modal" data-target="#myModal">Read More <span class="fa fa-long-arrow-right"></span></a>-->
											<a href="# " data-toggle="modal" data-target="#myModal"><p>Read more</p></a>
											<!--<p>lorem ipsum dolor sit amet consectetur adipiscing</p>-->
										</div>
									</div>
									<div class="col-md-4">
										<div class="grid1">
											<i class="fa fa-train" aria-hidden="true"></i>
											<!--<a href="#" data-toggle="modal" data-target="#myModal">Read More <span class="fa fa-long-arrow-right"></span></a>-->
											<a href="# " data-toggle="modal" data-target="#myModal"><p>Read more</p></a>
											<!--<p>lorem ipsum dolor sit amet consectetur adipiscing</p>-->
										</div>
									</div>
									<div class="col-md-4">
										<div class="grid1">
											<i class="fa fa-bus" aria-hidden="true"></i>
											<!--<a href="#" data-toggle="modal" data-target="#myModal">Read More <span class="fa fa-long-arrow-right"></span></a>-->
											<a href="# " data-toggle="modal" data-target="#myModal"><p>Read more</p></a>
											<!--<p>lorem ipsum dolor sit amet consectetur adipiscing</p>-->
										</div>
									</div>
									<div class="clearfix"></div>
								</div>
						</div>
					</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<div class="clearfix"></div>
</section>
<!-- //Slider -->
			
<!-- bootstrap-modal-pop-up -->
<div class="modal video-modal fade" id="myMod" tabindex="-1" role="dialog" aria-labelledby="myModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<div class="modal-header">
				

				Road Travel
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
			</div>
			<div class="modal-body">
				<img src="{% static 'travel/images/pic2.jpg' %}" alt=" " class="img-responsive" />
				<p><i>A road trip is a long distance journey on the road.Enjoy your dream vocation with us and give wings to your dreams.</i></p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- //bootstrap-modal-pop-up --> 
<!-- bootstrap-modal-pop-up -->
<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				Road Travel Services
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
			</div>
			<div class="modal-body">
				<img src="{% static 'travel/images/bg8.jpg' %}" alt=" " class="img-responsive" />
				<div class="modal-header">
				<p><i> we provided many services for road travelling . we can reach our destination by choosing any means of transportation. </i></p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- About section -->
<section class="about" id="about">
	<div class="container">
		<h3 class="heading">About Us</h3>
		<div class="col-md-5 about_left">
			
		</div>
		<div class="col-md-7 about_right">
			<h3>Welcome to our road travel</h3>
			<h4>Enjoy your dream vocation with us. Our Road travel is Safe way to reach your destination.</h4>
			<p>Hello , i am vibhuti .
			i am a college student.
			Here,i am to helping you to fulfill your dream vocation.
		</p>
			<p>Want to travel with me then,quickly contact us.Let's make some new beautiful memories.
			</p>
			<ul>
				<!--<li><a href="#"  data-toggle="modal" data-target="#myModal" class="w3ls_more" >Read More</a></li>-->
				<li><a href="#contact" class="w3l scroll">Contact Us</a></li>
			</ul>
		</div>
		<div class="clearfix"></div>
		
	</div>
</section>
<!-- //About section -->

<!-- /services -->
<!--<section class="w3-services" id="services">
	<div class="container">
		<h3 class="heading">Services</h3>
			<div class="w3-services-grids">
				<div class="col-md-3 w3-services-left-grid">
					<h4>Road Travel</h4>
					<p>Guided Tours,Travel Packages,Cruises</p>
					<div class="more">
						<a href="#">Know more</a>
					</div>
				</div>
				<div class="col-md-9 w3-services-right-grid">
				<div class="w3-icon-grid-gap1">
					<div class="col-md-4 w3-icon-grid1">
						<i class="fa fa-codepen" aria-hidden="true"></i>
						<h3>Accomodation</h3>
						<div class="clearfix"></div>
						<p>Booking in advance </p>
					</div>
					<div class="col-md-4 w3-icon-grid1">
						<i class="fa fa-truck" aria-hidden="true"></i>
						<h3>Transportation</h3>
						<div class="clearfix"></div>
						<p>The modes of transportations are car,train,aeroplane,bus</p>
					</div>
					<div class="col-md-4 w3-icon-grid1">
						<i class="fa fa-child" aria-hidden="true"></i>
						<h3>Travel Guides</h3>
						<div class="clearfix"></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisci ngelit. In euismod faucibus quam.</p>
					</div>
					<div class="clearfix"></div>
					</div>
					<div class="w3-icon-grid-gap2">
					<div class="col-md-4 w3-icon-grid1">
						<i class="fa fa-modx" aria-hidden="true"></i>
						<h3>Best Locations</h3>
						<div class="clearfix"></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisci ngelit. In euismod faucibus quam.</p>
					</div>
					<div class="col-md-4 w3-icon-grid1">
						<i class="fa fa-money" aria-hidden="true"></i>
						<h3>Insurance</h3>
						<div class="clearfix"></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisci ngelit. In euismod faucibus quam.</p>
					</div>
					<div class="col-md-4 w3-icon-grid1">
						<i class="fa fa-bus" aria-hidden="true"></i>
						<h3>Safe Trips</h3>
						<div class="clearfix"></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisci ngelit. In euismod faucibus quam.</p>
					</div>
					<div class="clearfix"></div>
					</div>
				</div>
				<div class="clearfix"></div>
		</div>
	</div>
</section>-->
<!-- //services -->

<!-- team -->
<section class="team-section" id="team">
	<div class="container">
		<h3 class="heading">Our Travel Guide</h3>
		  <div class="team-row">
			<div class="col-md-3 team-grids">
				<div class="team-img">
					<!--<img class="img-responsive" src="{% static 'travel/images/m.jpg' %}" alt="">
					<div class="captn">
						<ul class="top-links">
								<li><a href="https://touch.facebook.com/home.php?_rdr" "><i class="fa fa-facebook"></i></a></li>
								<li><a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a></li>
								
								<!--<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							</ul>
					
					</div>-->
				</div>
				<div class="team-agile">
					<h4>Our team --->></h4>
					<p></p>
				</div>
			</div>
			<div class="col-md-3 team-grids">
				<div class="team-img">
					<img class="img-responsive" src="{% static 'travel/images/na.jpg' %}" alt="">
					<div class="captn">
						<ul class="top-links">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram"></i></a></li>
								
								<!--<li><a href="#"><i class="fa fa-google-plus"></i></a></li>-->
							</ul>
					
					</div>
				</div>
				<div class="team-agile">
					<h4>Namrata</h4>
					<p></p>
				</div>
			</div>
			<div class="col-md-3 team-grids">
				<div class="team-img">
					<img class="img-responsive" src="{% static 'travel/images/aia.jpg' %}" alt="">
					<div class="captn">
						<ul class="top-links">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram"></i></a></li>
								
								<!--<li><a href="#"><i class="fa fa-google-plus"></i></a></li>-->
							</ul>
					
					</div>
				</div>
				<div class="team-agile">
					<h4>Isha</h4>
					<p></p>
				</div>
			</div>
			<!--<div class="col-md-3 team-grids">
				<div class="team-img">
					<img class="img-responsive" src="{% static 'travel/images/p.jpg' %}" alt="">
					<div class="captn">
						<ul class="top-links">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram"></i></a></li>-->
								
								<!--<li><a href="#"><i class="fa fa-google-plus"></i></a></li>-->
							</ul>
					
					</div>
				</div>
				<!--<div class="team-agile">
					<h4>Deepak</h4>
					<p></p>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div> 
	</div>	
</section>-->	
<!-- //team -->

<!--  gallery -->
		<div data-target="gallery" id="gallery">
            <div class="container">
				<div class="portfolio w3ls-section" id="port">
					<h3 class="text-center-right">OUR Trips</h3>
					<ul class="simplefilter">
						<li class="active" data-filter="all" data-aos="slide-down">show all</li>
						<li data-filter="1" data-aos="slide-down">Goa</li>
						<li data-filter="2" data-aos="slide-down">Gulmarg</li>
						<li data-filter="3" data-aos="slide-down">Jaipur</li>
					</ul>
					<div class="scrollbar agileits-portfolio-scroll">
						<div class="filtr-container">
							<div class="filtr-item gallery-t" data-category="3" data-sort="Busy streets">
								 <a href="#gallery" class="b-link-stripe b-animate-go  thickbox">
									<figure class="w3ls-gallery">
										 <img src="{% static 'travel/gal/images/w1.jpg' %}" class="img-responsive" alt=" " />
										 <figcaption class="w3layouts-caption">
											<h3></h3>
											<p></p>
										</figcaption>
									</figure>
								</a>
							</div>
							<div class="filtr-item" data-category="3" data-sort="City wonders">
								<a href="#gallery" class="b-link-stripe b-animate-go  thickbox">
									<figure class="w3ls-gallery">
										 <img src="{% static 'travel/gal/images/de.jpg' %}" class="img-responsive" alt=" " />
										 <figcaption class="w3layouts-caption">
											<h3></h3>
											<p></p>
										 </figcaption>
									</figure>
								</a>
							</div>
							<div class="filtr-item" data-category="2" data-sort="Luminous night">
							   <a href="#gallery" class="b-link-stripe b-animate-go  thickbox">
									<figure class="w3ls-gallery">
										 <img src="{% static 'travel/gal/images/ma1.jpg' %}" class="img-responsive" alt=" " />
										 <figcaption class="w3layouts-caption">
											<h3></h3>
											<p></p>
										 </figcaption>
									</figure>
								</a>
							</div>
							<div class="filtr-item" data-category="2" data-sort="Luminous night">
							   <a href="#gallery" class="b-link-stripe b-animate-go  thickbox">
									<figure class="w3ls-gallery">
										 <img src="{% static 'travel/gal/images/ma2.jpg' %}" class="img-responsive" alt=" " />
										 <figcaption class="w3layouts-caption">
											<h3></h3>
											<p></p>
										 </figcaption>
									</figure>
								</a>
							</div>
							<div class="filtr-item" data-category="2" data-sort="Luminous night">
							   <a href="#gallery" class="b-link-stripe b-animate-go  thickbox">
									<figure class="w3ls-gallery">
										 <img src="{% static 'travel/gal/images/ma3.jpg' %}" class="img-responsive" alt=" " />
										 <figcaption class="w3layouts-caption">
											<h3></h3>
											<p></p>
										 </figcaption>
									</figure>
								</a>
							</div>
							<div class="filtr-item gallery-t" data-category=" 3" data-sort="Busy streets">
							   <a href="#gallery" class="b-link-stripe b-animate-go  thickbox">
									<figure class="w3ls-gallery">
										 <img src="{% static 'travel/gal/images/w3.jpg' %}" class="img-responsive" alt=" " />
										 <figcaption class="w3layouts-caption">
											<h3></h3>
											<p></p>
										</figcaption>
									</figure>
								</a>
							</div>
							<div class="filtr-item" data-category="3" data-sort="In production">
							   <a href="#gallery" class="b-link-stripe b-animate-go  thickbox">
									<figure class="w3ls-gallery">
										 <img src="{% static 'travel/gal/images/e.jpg' %}" class="img-responsive" alt=" " />
										 <figcaption class="w3layouts-caption">
											<h3></h3>
											<p></p>
										</figcaption>
									</figure>
								</a>
							</div>
							<div class="filtr-item" data-category="3" data-sort="Industrial site">
							  <a href="#gallery" class="b-link-stripe b-animate-go  thickbox">
									<figure class="w3ls-gallery box">
										 <img src="{% static 'travel/gal/images/l1.jpg' %}" class="img-responsive" alt=" " />
										 <figcaption class="w3layouts-caption">
											<h3></h3>
											<p></p>
										</figcaption>
									</figure>
								</a>
							</div>
							<div class="filtr-item" data-category="2" data-sort="Peaceful lake">
								<a href="#gallery" class="b-link-stripe b-animate-go  thickbox">
									<figure class="w3ls-gallery">
									 <img src="{% static 'travel/gal/images/gu1.jpg' %}" class="img-responsive" alt=" " />
									 <figcaption class="w3layouts-caption">
											<h3></h3>
											<p></p>
											</figcaption>
									</figure>
								</a>
							</div>
							<div class="filtr-item gallery-t" data-category="1" data-sort="Busy streets">
								<a href="#gallery" class="b-link-stripe b-animate-go  thickbox">
									<figure class="w3ls-gallery">
										 <img src="{% static 'travel/gal/images/go.jpg' %}" class="img-responsive" alt=" " />
										 <figcaption class="w3layouts-caption">
											<h3></h3>
											<p></p>
										</figcaption>
									</figure>
								</a>
							</div>
							<div class="filtr-item gallery-t" data-category="1" data-sort="Busy streets">
								<a href="#gallery" class="b-link-stripe b-animate-go  thickbox">
									<figure class="w3ls-gallery">
										 <img src="{% static 'travel/gal/images/go1.jpg' %}" class="img-responsive" alt=" " />
										 <figcaption class="w3layouts-caption">
											<h3></h3>
											<p></p>
										</figcaption>
									</figure>
								</a>
							</div>
							<div class="filtr-item gallery-t" data-category="1" data-sort="Busy streets">
								<a href="#gallery" class="b-link-stripe b-animate-go  thickbox">
									<figure class="w3ls-gallery">
										 <img src="{% static 'travel/gal/images/go2.jpg' %}" class="img-responsive" alt=" " />
										 <figcaption class="w3layouts-caption">
											<h3></h3>
											<p></p>
										</figcaption>
									</figure>
								</a>
							</div>
							<div class="filtr-item gallery-t" data-category="1" data-sort="Busy streets">
								<a href="#gallery" class="b-link-stripe b-animate-go  thickbox">
									<figure class="w3ls-gallery">
										 <img src="{% static 'travel/gal/images/go3.jpg' %}" class="img-responsive" alt=" " />
										 <figcaption class="w3layouts-caption">
											<h3></h3>
											<p></p>
										</figcaption>
									</figure>
								</a>
							</div>
							<div class="filtr-item gallery-t" data-category="1" data-sort="Busy streets">
								<a href="#gallery" class="b-link-stripe b-animate-go  thickbox">
									<figure class="w3ls-gallery">
										 <img src="{% static 'travel/gal/images/go4.jpg' %}" class="img-responsive" alt=" " />
										 <figcaption class="w3layouts-caption">
											<h3></h3>
											<p></p>
										</figcaption>
									</figure>
								</a>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
			</div>
		</div>	
	<!-- //gallery -->
	


<!-- testimonials -->
<section class="testimonials" id="testimonials">
	<div class="container">
		<h3 class="heading">Testimonials</h3>
		<div class="flexslider-info">
			<section class="slider1">
				<div class="flexslider">
					<ul class="slides">
						<li>
							<div class="w3l-info1">
								<div class="col-md-3 testimonials-grid-1">
									<img src="{% static 'travel/images/sa1.jpg' %}" alt="" />
								</div>
								<div class="col-md-9 testimonials-grid-2">
									<h4>Chaitanya</h4>
									<h5>Recent Traveller</h5>
									<p><i class="fa fa-quote-left" aria-hidden="true"></i>Best travel agents.<i class="fa fa-quote-right" aria-hidden="true"></i></p>
									<div class="special-star">
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="w3l-info1">
								<div class="col-md-3 testimonials-grid-1">
									<img src="{% static 'travel/images/about.jpg' %}" alt="" />
								</div>
								<div class="col-md-9 testimonials-grid-2">
									<h4>Deepak</h4>
									<h5>Recent Traveller</h5>
									<p><i class="fa fa-quote-left" aria-hidden="true"></i>Best guiding agents . This one's trip is a memorable trip for me m really enjoying alot thank you for your good services.<i class="fa fa-quote-right" aria-hidden="true"></i></p>
									<div class="special-star">
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="w3l-info1">
								<div class="col-md-3 testimonials-grid-1">
									<img src="{% static 'travel/images/ak.jpg' %}" alt=""  />
								</div>
								<div class="col-md-9 testimonials-grid-2">
									<h4>Aksh</h4>
									<h5>Recent Traveller</h5>
									<p><i class="fa fa-quote-left" aria-hidden="true"></i>i m very impressed from your services. <i class="fa fa-quote-right" aria-hidden="true"></i></p>
									<div class="special-star">
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
										<i class="fa fa-star" aria-hidden="true"></i>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</section>
		</div>
	</div>
</section>
<!-- //testimonials -->

<!-- Tour trips  -->
<section class="special" id="offers">
	<div class="container">
	<h3 class="heading">Recent Trips</h3>
		<div class="agileits-special-grids">
			<div id="owl-demo" class="owl-carousel owl-theme">
				<div class="item">
					<div class="special-info">
						<div class="special-info-top">
							<div class="special-star">
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
							</div>
							<h4>GOA</h4>
						</div>
						<div class="special-info-bottom">
							<ul>
								<li>25 <span>hotels</span></li>
								<!--<li>10 <span>Cities</span></li>-->
								<li>07 <span>Tours</span></li>
							</ul>
							<p>Beach</p>
						</div>
					</div>	
				</div>
				<div class="item">
					<div class="special-info special-info1">
						<div class="special-info-top">
							<div class="special-star">
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star-half-o" aria-hidden="true"></i>
							</div>
							<h4>JAIPUR</h4>
						</div>
						<div class="special-info-bottom">
							<ul>
								<li>45 <span>hotels</span></li>
								<!--<li>35 <span>Cities</span></li>-->
								<li>21 <span>Tours</span></li>
							</ul>
							<p>Royal palace</p>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="special-info special-info2">
						<div class="special-info-top">
							<div class="special-star">
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star-half-o" aria-hidden="true"></i>
							</div>
							<h4>GULMARG</h4>
						</div>
						<div class="special-info-bottom">
							<ul>
								<li>30 <span>hotels</span></li>
								<!--<li>10 <span>Cities</span></li>-->
								<li>05 <span>Tours</span></li>
							</ul>
							<p>Beautiful Valley</p>
						</div>
					</div>
				</div>


>
			</div>
		</div>
	</div>
</section>
<!-- //Tour packages -->





<!-- contact -->		
<section class="contact" id="contact">
	<div class="container">
		<h3 class="heading">Contact Us</h3>
		<div class="contact-agileinfo">
			<div class="col-md-7 contact-right"> 
				<form action="{% url 'index' %}" method="post"> 
	                {% csrf_token %}				
					<input type="text" name="name" placeholder="Name" required="">
					<input type="email" class="Email" name="email" placeholder="Email" required="">
					<input type="text" name="phone_no" placeholder="Phone" required="">
					<textarea name="message" placeholder="Message" required=""></textarea>
					<input type="submit" value="SUBMIT" > <input type="submit" class="submit" value="subscribe">
				</form>
			</div>
			<div class="col-md-5 contact-left">
				<div class="address">
					<h5>Address:</h5>
					<p><i class="glyphicon glyphicon-home"></i> Model Town,Yamuna Nagar.</p>
				</div>
				<div class="address address-mdl">
					<h5>Phones:</h5>
					<p><i class="glyphicon glyphicon-earphone"></i> 261867</p>
					<p><i class="glyphicon glyphicon-phone"></i>9866754376</p>
				</div>
				<div class="address">
					<h5>Email:</h5>
					<p><i class="glyphicon glyphicon-envelope"></i> <a href="mailto:imvibhuti364@gmail.com">imvibhuti364@gmail.com</a></p>
					<p><i class="glyphicon glyphicon-globe"></i> <a href="mailto:website@example.com">website@example.com</a></p>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</section>
{% endblock %}