{% load staticfiles %}

<html lang="zxx">

<head>
    <title>Vagabond a Travel Category Flat Bootstrap Responsive website Template | Home :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <meta name="keywords" content="Vagabond Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Custom Theme files -->
    <link href="{% static 'travel/last/css/bootstrap.css' %}" type="text/css" rel="stylesheet" media="all">
    <link href="{% static 'travel/last/css/style.css' %}" type="text/css" rel="stylesheet" media="all">
	  <!-- grid hover -->
    <link href="{% static 'travel/last/css/hover.css' %}" type="text/css" rel="stylesheet" media="all">
	<!-- Testimonials-Css -->
	<link href="{% static 'travel/last/css/mislider.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'travel/last/css/mislider-custom.css' %}" rel="stylesheet" type="text/css" />
    <!-- font-awesome icons -->
    <link href="{% static 'travel/last/css/fontawesome-all.min.css' %}" rel="stylesheet">
	<!-- //Custom Theme files -->
    <!-- online-fonts -->
    <link href="//fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
    <!-- //online-fonts -->
</head>

<body>

    <!-- banner -->
    <div class="banner">
        <!-- header -->
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-gradient-secondary pt-3">
                <h1>
                    <a class="navbar-brand text-white" href="/index/">
                       Home
                    </a>
                </h1>
				
                <button class="navbar-toggler ml-md-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                   
                </div>
			</nav>
        </header>
        <!-- //header -->
        <div class="container">
            <!-- banner-text -->
            <div class="banner-text">
                <div class="slider-info">
					<h3>We got your Ticket Request...</h3>
                    <h3>ENJOY YOUR DREAM VACATION</h3>
				</div>
            </div>
			
        </div>
    </div>

	<!---->
	 <div class="agileits-services py-lg-5">
		<div class="container py-5">
            <div class="title-section pb-sm-5 pb-3">
               <h2 class="heading-agileinfo text-center pb-4">Our <span> Services</span></h2>
            </div>
            <div class="agileits-services-row row text-center">
                <div class="col-lg-3 col-md-6">
                    <div class="agileits-services-grids">
                       <i class="fas fa-plane"></i>
                        <h4>Flights
                        </h4>
                        <span></span>
                       
                        
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="agileits-services-grids mt-lg-0 mt-md-0 mt-5">
                       <i class="fas fa-bus"></i>
                        <h4>Buses
                        </h4>
                        <span></span>
                        
                       
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="agileits-services-grids mt-lg-0 mt-5">
                        <i class="fas fa-key"></i>
                        <h4>Hotels
                        </h4>
                        <span></span>
                        
                       
                    </div>
                </div>
                <div class="col-lg-3 col-md-6  mt-lg-0 mt-5">
                    <div class="agileits-services-grids">
                       <i class="fas fa-train"></i>
                        <h4>Train
                        </h4>
                        <span></span>
                       
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
	<div class="copyright py-3">
		<div class="container">
			<div class="copyrighttop">
				<ul>
					<li>
						<h4>Follow us on:</h4>
					</li>
					<li>
						<a class="facebook" href="#">
							<i class="fab fa-facebook-f"></i>
						</a>
					</li>
					<li>
						<a class="facebook" href="#">
							<i class="fab fa-twitter"></i>
						</a>
					</li>
					<li>
						<a class="facebook" href="#">
							<i class="fab fa-google-plus-g"></i>
						</a>
					</li>
					<li>
						<a class="facebook" href="#">
							<i class="fab fa-pinterest-p"></i>
						</a>
					</li>
				</ul>
			</div>
			<div class="copyrightbottom">
				<p>© 2018 Vagabond. All Rights Reserved | Design by
					<a href="http://w3layouts.com/">W3layouts</a>
				</p>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
<!-- //footer -->

