{% extends 'travel/base.html' %}
{% load staticfiles %}
{% block content %}


<html>
<head>
<title>Internship Sign In & Sign Up Form a Responsive Widget Template :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Internship Sign In & Sign Up Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="{% static 'catalog/login/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" media="all">
<link href="{% static 'catalog/login/css/snow.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'catalog/login/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- //Custom Theme files -->
<!-- web font -->
<link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

<!-- //web font -->
</head>
<body>
<style>

.helptext{
  visibility: hidden;
}

</style>
<div class="snow-container">
			  <div class="snow foreground"></div>
			  <div class="snow foreground layered"></div>
			  <div class="snow middleground"></div>
			  <div class="snow middleground layered"></div>
			  <div class="snow background"></div>
			  <div class="snow background layered"></div>
			</div>

<div class="top-buttons-agileinfo">
<a href="/login/">Sign In</a><a href="/signup/" class="active">Sign Up</a>
</div>

<div class="main-agileits">
<!--form-stars-here-->
		<div class="form-w3-agile">
			<h2 class="sub-agileits-w3layouts">Sign Up</h2>
			<form action="{%	url 'signup'	%}" method="post">
					<!--<input type="text" name="Username" placeholder="Username" required="" />
					<input type="password" name="Password" placeholder="Password" required="" />
					<input type="password" name="Password" placeholder="Confirm Password" required="" />-->
					{% csrf_token %}
					{% for field in form %}
					 <p>
						<div style="color:white">{{ field.label_tag }}</div><br>
						{{ field }}
						{% if field.help_text %}
		
							<div style="color: white"></div>
							
						{% endif %}
						{% for error in field.errors %}
						 <p style="color: red">{{ error }}</p>
						{% endfor %}
					 </p>
					{% endfor %}
					<div class="submit-w3l">
						<input type="submit" value="Sign up">
					</div>
			</form>
		</div>
		</div>
<!--//form-ends-here-->
<!-- copyright -->
	
	<script type="text/javascript" src="{% static 'catalog/login/js/jquery-2.1.4.min.js' %}"></script>

</body>
</html>
{% endblock %}